.box {
	-moz-border-radius:5px 5px 5px 5px;
	background:none repeat scroll 0 0 lightblue;
	margin:1px;
	padding:1px;
} 
.box.top {
	-moz-border-radius: 5px 5px 0px 0px;
} 
.box.bottom {
	-moz-border-radius: 0px 0px 5px 5px;
} 

/*
 * 当鼠标移到icon上的时候，给icon增加class：【input_text】
 * 
 */
@charset "utf-8";
body
{
	margin:0 auto;
	padding:0;
	font:12px Verdana, Arial, Helvetica, sans-serif,"宋体","黑体";
	text-align:left;
}
*
{
	padding:0;
	margin:0;
}
img{
	border: none;
}

/* portlet window */

.portlet {
	text-align: left;
	margin: 6px;
	border: 1px solid #b8cbe4;
	
}
.portlet .portlet-topper {
	height: 21px;
	background: url(images/left_title.gif);
}
.portlet .portlet-content {
	border-top: 1px solid #b8cbe4;
	padding: 8px;
	background-color: #FFFFFF;
}
.portlet .portlet-title {
	float: left;
	height: 21px;
	line-height: 21px;
	display: block;
	color: #003399;
	font-weight: bold;
	padding-left: 26px;
	padding-right: 6px;
	background: url(images/portlet_icon.gif) no-repeat 6px center;
}
.portlet .portlet-title img {
	vertical-align: middle;
	margin-right: 6px;
}
.portlet .portlet-icons {
	float: right;
	text-align: right;
	height: 21px;
}
.portlet .portlet-icons img{
	margin-top: 4px;
	margin-right: 2px;
}
  
/* portlet icon */

.portlet_icon_div {
	height: 14px;
	width: 14px;
	float: right;
	margin-right: 3px;
	margin-top: 3px;
	line-height: 20px;
	cursor: pointer;
}
.portlet_icon_close {
	background: url(images/portlet_icon_close.gif);
}
.portlet_icon_min {
	background: url(images/portlet_icon_min.gif);
}
.portlet_icon_restore{
	background: url(images/portlet_icon_restore.gif);
}
.portlet_icon_config {
	background: url(images/portlet_icon_config.gif);
}
.portlet_icon_option {
	background: url(images/portlet_icon_option.gif);
}